<span class="page_title blur">Restaurantes</span>

<div class="results alpha">

  <% for restaurant in @restaurants %>

    <div class="item clearfix">

      <div class="pre">
        <span class="helper"></span><%= image_tag restaurant.photos.empty? ? 'default.png' : restaurant.photos[0].data.url(:thumb) %>
    </div>

    <div class="info">

      <h4 class="title"><%= restaurant.name %></h4>
      <%= "#{restaurant.street}, #{restaurant.district}, C.P. #{restaurant.zipcode}" %><br />
      <%= restaurant.destination.name %><br />
      Teléfonos: <%= restaurant.phone %><br />
      <%= restaurant.email %><br />

      <!--<%= link_to "Reserva en línea", root_url(subdomain:restaurant.slug), :class => "btn btn-purple" %>-->
      <%= link_to restaurant.paypal.blank? ? 'Solicita información' : 'Reserva en línea', root_url(subdomain:restaurant.slug.gsub('-', '')), :class => 'btn btn-purple' %>
      <a href="<%= "http://#{restaurant.website}" %>" class="btn btn-green" target="_blank">Visitar sitio web</a>

    </div>

  </div>

<% end %>

</div>
