<% javascript 'restaurants_show' %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' %>

<span class="page_title blur"><%= @restaurant.name %></span>

<div class="page_content clearfix">

  <div id="status_alert" class="alert alert-error" style="display:none;">
    <strong>RESERVACIÓN NO REALIZADA! </strong> Favor de revisar los siguientes errores:
    <br /><br/>
    <ul class="unstyled"></ul>
  </div>

  <div id="status_success" class="alert alert-success" style="display:none;">
    <strong>SOLICITUD RECIBIDA! </strong> Nos pondremos en contacto con usted lo mas pronto posible. Muchas gracias
  </div>

  <div class="left_side">

    <span class="page_subtitle blur">Reserva en línea</span>

    <div class="form-canvas alpha clearfix">

      <%= form_tag("/restaurantes/#{@restaurant.id}/reservar", :method => 'post', :name => 'reservation_form', :class => 'form-horizontal', :remote => true, :'data-update-target' => 'status_alert') do %>
        <div class="control-group">
          <%= label_tag 'nombre', 'Nombre', :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'nombre', nil, :placeholder => 'Nombre completo', :class => 'input-xlarge' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'email', 'E-mail', :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'email', nil, :placeholder => 'ejemplo@dominio.com', :class => 'input-xlarge' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'telefono', "Teléfono", :class => 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'telefono', nil, :placeholder => '(55) 5626874', :class => 'input-xlarge' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'check_in', 'Fecha de llegada', :class => 'control-label' %>
          <div class="controls">
            <div class="input-append date datepicker-checkin" data-date="<%= Time.now.strftime('%d/%m/%Y') %>" data-date-format="dd-mm-yyyy" data-date-before-show-day="<%= @dates.to_json %>">
              <%= text_field_tag 'check_in', Time.now.strftime('%d/%m/%Y'), :placeholder => 'Seleccionar fecha de llegada', :class => 'input-datepicker', :readonly => true %><span class="add-on"><i class="icon-th"></i></span></input>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'adults', 'Adultos', :class => 'control-label' %>
          <div class="controls">
            <%= select_tag 'adults', (1..10).map{|i| "<option>#{i}</option>"}.join.html_safe, :class => 'input-xlarge' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'comentario', 'Comentario', :class => 'control-label' %>
          <div class="controls">
            <%= text_area_tag 'comentario', nil, :rows => 3, :class => 'input-xlarge' %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <% unless @restaurant.paypal.blank? %>
              <%= submit_tag 'Reserva ya', :class => 'btn btn-custom pull-right' %>
            <% end %>
            <%= submit_tag 'Solicitar Información', :class => "btn btn-custom pull-right" %>
          </div>
        </div>

      <% end %>

    </div>

    <div id="map-canvas" data-lat="<%= @restaurant.lat.blank? ? 0 : @restaurant.lat %>" data-lng="<%= @restaurant.lng.blank? ? 0 : @restaurant.lng %>">
    </div>

  </div>

  <div class="right_side">

    <span class="page_subtitle blur">Descripción</span>

    <div class="right_wrapper">

      <div class="restaurant_description">
        <%= @restaurant.description %>
      </div>

      <% unless @restaurant.photos.empty? %>

        <table class="photo-gallery">
          <% @restaurant.photos.in_groups_of(3) do |group| %>
            <tr>
              <% group.each_with_index do |photo,i| %>
                <% if photo.nil? %>
                  <td>&nbsp;</td>
                <% else %>
                  <td>
                    <a class="fancybox" rel="gallery1" href="<%= photo.data.url(:original) %>" title="<%= "#{@restaurant.name} #{i+1}" %>"><img src="<%= photo.data.url(:thumb) %>" alt="" /></a>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>

      <% end %>

    </div>

    <!--
    <% unless @restaurant.photos.empty? %>
      <div id="zoom-gallery">
        <img src="<%= asset_path 'preloader.gif' %>" class="preloader" width="55" height="18" alt="preloader" />
        <ul>
          <li title="<%= @restaurant.photos[0].nil? ? asset_path('sin_foto.png') : @restaurant.photos[0].data.url(:medium) %>">
          <% unless @restaurant.photos[0].nil? %>
            <ul class="align-left" title="<%= @restaurant.photos[0].data.url %>"></ul>
          <% end %>
          </li>
          <li title="<%= @restaurant.photos[1].nil? ? asset_path('sin_foto.png') : @restaurant.photos[1].data.url(:medium) %>">
          <% unless @restaurant.photos[1].nil? %>
            <ul class="align-left" title="<%= @restaurant.photos[1].data.url %>"></ul>
          <% end %>
          </li>
          <li title="<%= @restaurant.photos[2].nil? ? asset_path('sin_foto.png') : @restaurant.photos[2].data.url(:medium) %>">
          <% unless @restaurant.photos[2].nil? %>
            <ul class="align-left" title="<%= @restaurant.photos[2].data.url %>"></ul>
          <% end %>
          </li>
          <li title="<%= @restaurant.photos[3].nil? ? asset_path('sin_foto.png') : @restaurant.photos[3].data.url(:medium) %>">		
          <% unless @restaurant.photos[3].nil? %>
            <ul class="align-left" title="<%= @restaurant.photos[3].data.url %>"></ul>
          <% end %>
          </li>
          <li title="<%= @restaurant.photos[4].nil? ? asset_path('sin_foto.png') : @restaurant.photos[4].data.url(:medium) %>">
          <% unless @restaurant.photos[4].nil? %>
            <ul class="align-left" title="<%= @restaurant.photos[4].data.url %>"></ul>
          <% end %>
          </li>
        </ul>
        <noscript>
          <div id="noscript">
            <img src="<%= @restaurant.photos.first.nil? ? asset_path('sin_foto.png') : @restaurant.photos.first.data.url(:medium) %>" width="340" height="227" alt="<%= @restaurant.name %>" />
          </div>
        </noscript>
      </div>
    <% end %>
    -->

    <% unless @restaurant.video.blank? %>
      <div class="video-canvas">
        <iframe width="480" height="270" src="http://www.youtube.com/embed/<%= youtube(@restaurant.video) %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>

  </div>

</div>
